---
interface Props {
	id: string;
	title?: string;
}

const { id, title = 'Video' } = Astro.props;
---

<div class="my-8 rounded-2xl overflow-hidden shadow-lg">
	<div class="relative w-full" style="padding-bottom: 56.25%;">
		<iframe
			class="absolute inset-0 w-full h-full"
			src={`https://www.youtube.com/embed/${id}`}
			title={title}
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
			loading="lazy"
		></iframe>
	</div>
</div>
